<script language="javascript" type="text/javascript">
  $(document).on("turbolinks:load", function () {

    $('#people_table').bootstrapTable({
      url: 'people.json',
      sortName: 's_n',
      pagination: true,
      sidePagination: 'server',
      pageSize: 5, // TODO grösser, ist 5 zum Testen
      search: true,
      columns: [
        {
          field: 's_n',
          title: 'SN',
          sortable: true
        }, {
          field: 'register_number',
          title: 'Register Number',
          sortable: true
        }, {
          field: 'first_name',
          title: 'First name',
          sortable: true,
        }, {
          field: 'family_name',
          title: 'Family name',
          sortable: true
        }, {
          field: 'contact_persons',
          title: 'Contact'
        }, {
          field: 'lawyer',
          title: 'Lawyer',
          sortable: true
        }, {
          field: 'created_at',
          title: 'Created At'
        }, {
          field: 'comments_count',
          title: 'Comments'
        }
      ]
    });

  });
</script>



<div class="table-responsive">

  <table id="people_table" class="table table-striped table-bordered"></table>
</div>
