<script language="javascript" type="text/javascript">
  $(document).on("turbolinks:load", function () {
    var controller = new App.PeopleController({el: $("#people_table")});
  });
</script>



<div class="table-responsive">

  <table id="people_table" class="table table-striped table-bordered"></table>
</div>
