<div class="page-header">
  <h1> People
    <small>List of people</small>
  </h1>


  <%= link_to(people_path(format: "xlsx"), class: "btn btn-default") do %>
      <i class="glyphicon glyphicon-arrow-down"></i></i>
      Als Excel beziehen
  <% end %>

</div>

 <%= render partial: 'people_table_js' %>
 <%#= render partial: 'people_table' %>

<br>

<%= link_to new_person_path, class: "btn btn-primary", role: "button" do %>
    <i class="glyphicon glyphicon-plus"></i> New Person
<% end %>

